n8n-workflows/evolution-webhook-receiver.json
{
  "name": "Evolution WhatsApp - Receber Mensagens (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-webhook",
        "options": {}
      },
      "id": "webhook-evolution",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "evolution-webhook-id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-mensagem",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filtro-mensagem",
      "name": "É Mensagem Nova?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "instance",
              "value": "={{ $json.body.instance }}"
            },
            {
              "name": "remetente",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage?.text || 'Mídia recebida' }}"
            },
            {
              "name": "tipo",
              "value": "={{ Object.keys($json.body.data.message)[0] }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.body.data.messageTimestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extrair-dados",
      "name": "Extrair Dados da Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "content": "### Mensagem Recebida\n\n- **Instância:** {{ $json.instance }}\n- **Remetente:** {{ $json.remetente }}\n- **Mensagem:** {{ $json.mensagem }}\n- **Tipo:** {{ $json.tipo }}"
      },
      "id": "nota-debug",
      "name": "Log da Mensagem",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "É Mensagem Nova?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Mensagem Nova?": {
      "main": [
        [
          {
            "node": "Extrair Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
