n8n-workflows/whatsapp-ai-assistant-complete.json
{
  "name": "WhatsApp AI Assistant - Hub Automação Pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-ai",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-entrada",
      "name": "1. Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "whatsapp-ai-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-evento",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-nao-minha",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filtro-mensagem",
      "name": "2. É Mensagem Recebida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extrai dados da mensagem do WhatsApp\nconst body = $input.first().json.body;\n\n// Dados da instância\nconst instanceName = body.instance || '';\n\n// Dados do remetente\nconst remoteJid = body.data?.key?.remoteJid || '';\nconst telefone = remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '');\nconst isGroup = remoteJid.includes('@g.us');\n\n// Extrair mensagem (diferentes tipos)\nconst messageData = body.data?.message || {};\nlet mensagem = '';\nlet tipoMensagem = 'unknown';\n\nif (messageData.conversation) {\n  mensagem = messageData.conversation;\n  tipoMensagem = 'text';\n} else if (messageData.extendedTextMessage?.text) {\n  mensagem = messageData.extendedTextMessage.text;\n  tipoMensagem = 'text';\n} else if (messageData.imageMessage) {\n  mensagem = messageData.imageMessage.caption || '[Imagem recebida]';\n  tipoMensagem = 'image';\n} else if (messageData.audioMessage) {\n  mensagem = '[Áudio recebido]';\n  tipoMensagem = 'audio';\n} else if (messageData.documentMessage) {\n  mensagem = messageData.documentMessage.fileName || '[Documento recebido]';\n  tipoMensagem = 'document';\n}\n\n// Nome do contato (se disponível)\nconst pushName = body.data?.pushName || 'Cliente';\n\n// Timestamp\nconst timestamp = body.data?.messageTimestamp || Date.now();\n\nreturn {\n  instance_name: instanceName,\n  telefone: telefone,\n  telefone_formatado: telefone.startsWith('55') ? telefone : `55${telefone}`,\n  remote_jid: remoteJid,\n  is_group: isGroup,\n  mensagem: mensagem.trim(),\n  tipo_mensagem: tipoMensagem,\n  nome_contato: pushName,\n  timestamp: timestamp,\n  message_id: body.data?.key?.id || ''\n};"
      },
      "id": "extrair-dados",
      "name": "3. Extrair Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-texto",
              "leftValue": "={{ $json.tipo_mensagem }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-nao-vazio",
              "leftValue": "={{ $json.mensagem.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filtro-texto",
      "name": "4. É Texto Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  e.id as empresa_id,\n  e.nome as empresa_nome,\n  e.whatsapp_instance,\n  e.status,\n  e.api_key_interna\nFROM empresas e\nWHERE e.whatsapp_instance = '{{ $json.instance_name }}'\n  AND e.status = 'ativo'\nLIMIT 1;",
        "options": {}
      },
      "id": "consulta-empresa",
      "name": "5. Buscar Empresa no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-hub",
          "name": "Hub PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Combina dados da mensagem com dados da empresa\nconst mensagemData = $('3. Extrair Dados').first().json;\nconst empresaResult = $input.all();\n\nconst empresaEncontrada = empresaResult.length > 0 && empresaResult[0].json.empresa_id;\n\nif (empresaEncontrada) {\n  const empresa = empresaResult[0].json;\n  return {\n    // Dados da mensagem\n    ...mensagemData,\n    // Dados da empresa\n    empresa_id: empresa.empresa_id,\n    empresa_nome: empresa.empresa_nome,\n    empresa_ativa: true,\n    api_key_interna: empresa.api_key_interna\n  };\n} else {\n  return {\n    ...mensagemData,\n    empresa_id: null,\n    empresa_nome: null,\n    empresa_ativa: false,\n    api_key_interna: null\n  };\n}"
      },
      "id": "merge-dados",
      "name": "6. Combinar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-ativa",
              "leftValue": "={{ $json.empresa_ativa }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verifica-empresa",
      "name": "7. Empresa Ativa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"Você é um assistente virtual inteligente da empresa {{ $json.empresa_nome }}. Responda de forma educada, profissional e objetiva. Seja conciso pois suas respostas serão enviadas via WhatsApp. Use emojis moderadamente para tornar a conversa mais amigável. Se não souber responder algo específico sobre a empresa, oriente o cliente a entrar em contato com um atendente humano.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Cliente {{ $json.nome_contato }} ({{ $json.telefone }}) pergunta: {{ $json.mensagem }}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "chamar-claude",
      "name": "8. Enviar para Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extrai resposta do Claude e prepara para envio\nconst dadosOriginais = $('6. Combinar Dados').first().json;\nconst respostaClaude = $input.first().json;\n\n// Extrair texto da resposta\nlet respostaTexto = '';\nlet tokensEntrada = 0;\nlet tokensSaida = 0;\n\nif (respostaClaude.content && respostaClaude.content.length > 0) {\n  respostaTexto = respostaClaude.content[0].text || 'Desculpe, não consegui processar sua mensagem.';\n}\n\n// Tokens para logging\nif (respostaClaude.usage) {\n  tokensEntrada = respostaClaude.usage.input_tokens || 0;\n  tokensSaida = respostaClaude.usage.output_tokens || 0;\n}\n\n// Limitar tamanho da mensagem para WhatsApp (máx ~4000 chars)\nif (respostaTexto.length > 4000) {\n  respostaTexto = respostaTexto.substring(0, 3950) + '\\n\\n[Mensagem truncada...]';\n}\n\nreturn {\n  // Dados para envio\n  instance_name: dadosOriginais.instance_name,\n  telefone: dadosOriginais.telefone,\n  remote_jid: dadosOriginais.remote_jid,\n  resposta: respostaTexto,\n  \n  // Dados para log\n  empresa_id: dadosOriginais.empresa_id,\n  empresa_nome: dadosOriginais.empresa_nome,\n  mensagem_original: dadosOriginais.mensagem,\n  nome_contato: dadosOriginais.nome_contato,\n  tokens_entrada: tokensEntrada,\n  tokens_saida: tokensSaida,\n  modelo: respostaClaude.model || 'claude-sonnet-4-20250514'\n};"
      },
      "id": "processar-resposta",
      "name": "9. Processar Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution:8080/message/sendText/{{ $json.instance_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"{{ $json.resposta }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "enviar-whatsapp",
      "name": "10. Enviar para WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs_consumo (\n  empresa_id,\n  modelo,\n  tokens_entrada,\n  tokens_saida,\n  custo_estimado,\n  tipo_operacao,\n  metadata\n) VALUES (\n  '{{ $json.empresa_id }}',\n  '{{ $json.modelo }}',\n  {{ $json.tokens_entrada }},\n  {{ $json.tokens_saida }},\n  {{ ($json.tokens_entrada * 0.000003) + ($json.tokens_saida * 0.000015) }},\n  'whatsapp_chat',\n  '{ \"telefone\": \"{{ $json.telefone }}\", \"nome\": \"{{ $json.nome_contato }}\" }'\n);",
        "options": {}
      },
      "id": "log-consumo",
      "name": "11. Registrar Consumo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2440, 100],
      "credentials": {
        "postgres": {
          "id": "postgres-hub",
          "name": "Hub PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution:8080/message/sendText/{{ $json.instance_name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"Olá! 👋 Este número ainda não está configurado para atendimento automático. Por favor, entre em contato através dos canais oficiais. Obrigado!\"\n}",
        "options": {}
      },
      "id": "resposta-nao-cadastrado",
      "name": "Resposta: Não Cadastrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 340],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ignorado"
            },
            {
              "name": "motivo",
              "value": "Mensagem não é texto ou está vazia"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ignorado",
      "name": "Marcar Ignorado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Processado', empresa: $json.empresa_nome, tokens: $json.tokens_entrada + $json.tokens_saida }) }}",
        "options": {}
      },
      "id": "responder-webhook-sucesso",
      "name": "Responder Webhook OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2660, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Ignorado - não é mensagem de texto\" }",
        "options": {}
      },
      "id": "responder-webhook-ignorado",
      "name": "Responder Webhook Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Empresa não cadastrada\" }",
        "options": {}
      },
      "id": "responder-webhook-nao-cadastrado",
      "name": "Responder Não Cadastrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 340]
    },
    {
      "parameters": {
        "content": "### 🤖 WhatsApp AI Assistant\n\n**Fluxo completo:**\n1. Recebe webhook da Evolution\n2. Filtra apenas mensagens recebidas\n3. Extrai dados da mensagem\n4. Verifica se é texto válido\n5. Consulta empresa no PostgreSQL\n6. Se empresa ativa → envia para Claude\n7. Devolve resposta via WhatsApp\n8. Registra consumo de tokens\n\n**Credenciais necessárias:**\n- `Evolution API` (Header Auth)\n- `Hub PostgreSQL` (Postgres)\n- `ANTHROPIC_API_KEY` no .env do n8n"
      },
      "id": "nota-documentacao",
      "name": "📋 Documentação",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 140],
      "parameters": {
        "width": 320,
        "height": 340
      }
    },
    {
      "parameters": {
        "content": "### ⚠️ Tratamento de Erros\n\nSe a IA falhar, a mensagem\nnão será respondida.\n\nConsidere adicionar um nó\nde Error Trigger para\nnotificações."
      },
      "id": "nota-erros",
      "name": "⚠️ Erros",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2000, -60],
      "parameters": {
        "width": 200,
        "height": 140
      }
    }
  ],
  "connections": {
    "1. Webhook Evolution": {
      "main": [
        [
          {
            "node": "2. É Mensagem Recebida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. É Mensagem Recebida?": {
      "main": [
        [
          {
            "node": "3. Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Extrair Dados": {
      "main": [
        [
          {
            "node": "4. É Texto Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. É Texto Válido?": {
      "main": [
        [
          {
            "node": "5. Buscar Empresa no DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Buscar Empresa no DB": {
      "main": [
        [
          {
            "node": "6. Combinar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Combinar Dados": {
      "main": [
        [
          {
            "node": "7. Empresa Ativa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Empresa Ativa?": {
      "main": [
        [
          {
            "node": "8. Enviar para Claude AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta: Não Cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Enviar para Claude AI": {
      "main": [
        [
          {
            "node": "9. Processar Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Processar Resposta IA": {
      "main": [
        [
          {
            "node": "10. Enviar para WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Enviar para WhatsApp": {
      "main": [
        [
          {
            "node": "11. Registrar Consumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Registrar Consumo": {
      "main": [
        [
          {
            "node": "Responder Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Ignorado": {
      "main": [
        [
          {
            "node": "Responder Webhook Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta: Não Cadastrado": {
      "main": [
        [
          {
            "node": "Responder Não Cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp"
    },
    {
      "name": "AI"
    },
    {
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
